.projectContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.projectBox{
    border-radius: 8px;
    border: 1px solid #E2E4E9;
    background: #FFF;
    padding: 16px;
}
.projectInput{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #cFD3d4;
    border-radius: 8px;
    margin-top: 47px;
    margin-bottom: 36px;
}

.buttonContainer{
    display: flex;
    gap: 16px;
    margin-top: 27px;
    margin-bottom: 36px;
}
.projectInput:focus{
    border: 1px solid #cFD3d4;

}